@import url("https://fonts.googleapis.com/css?family=Quicksand:300&display=swap");

@font-face {
  font-family: "zelda";
  src: url("../fonts/zelda_regular-webfont.woff2") format("woff2"),
    url("../fonts/zelda_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  padding: 20px;
  font-family: "Quicksand";
}

.wrap {
  height: 100%;
  position: relative;
}

.wrap .bg {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -3;
  background: url("../images/b2.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bg2 {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.8);
}

#container {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

#pixie {
  z-index: -1;
}

.container2 {
  position: absolute;
  transform: translate(0px, 0px);
  top: 0px;
  left: 0px;
}

.glitch {
  color: rgb(223, 191, 191);
  position: relative;
  font-family: zelda;
  font-size: 50px;
  text-shadow: 5px 5px rgba(128, 255, 0, 0.315);
  animation: glitch 5s 5s 1;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

.subtitle {
  font-family: zelda;
  font-weight: 100;
  font-size: 20px;
  color: rgba(165, 141, 141, 0.4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 17%;
  animation: glitch-2 5s 5.02s 1;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

/* Start actual content */

.menubar {
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

.buttonmenu {
  background-color: rgba(53, 177, 15, 0);
  width: 100px;
  height: 100px;
  border-style: dashed;
  border-color: rgba(255, 255, 255, 0.253);
  text-decoration: none;
  color: rgb(223, 191, 191);
  font-family: Quicksand;
  font-size: 50px;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 500ms;
}

.buttonmenu:hover {
  background-color: rgba(60, 255, 0, 0.05);
  width: 100px;
  height: 100px;
  border: dashed;
  border-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: rgb(223, 191, 191);
  font-family: Quicksand;
  font-size: 16px;
  
  border-radius: 50px;
  box-shadow: 0px 0px 15px 0 rgba(255, 255, 255, 1);
  cursor: pointer;
  animation: glitch 2s 2s infinite;
}

.buttonlink {
  background-color: rgba(53, 177, 15, 0);
  width: 100px;
  height: 50px;
  border-style: dashed;
  border-color: rgba(255, 255, 255, 0.253);
  text-decoration: none;
  color: rgb(223, 191, 191);
  font-family: Quicksand;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 500ms;
}

.buttonlink:hover {
  background-color: rgba(60, 255, 0, 0.05);
  width: 100px;
  height: 50px;
  border: dashed;
  border-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: rgb(223, 191, 191);
  font-family: Quicksand;
  font-size: 16px;
  
  border-radius: 50px;
  box-shadow: 0px 0px 15px 0 rgba(255, 255, 255, 1);
  cursor: pointer;
  animation: glitch 2s 2s infinite;
}

.buttonlogin {
  background-color: rgba(53, 177, 15, 0);
  width: 375px;
  height: 50px;
  border-style: dashed;
  border-color: rgba(255, 255, 255, 0.253);
  text-decoration: none;
  color: rgb(223, 191, 191);
  font-family: Quicksand;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 500ms;
}

.buttonlogin:hover {
  background-color: rgba(60, 255, 0, 0.05);
  width: 375px;
  height: 50px;
  border: dashed;
  border-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: rgb(223, 191, 191);
  font-family: Quicksand;
  border-radius: 50px;
  box-shadow: 0px 0px 15px 0 rgba(255, 255, 255, 1);
  cursor: pointer;
  animation: glitch 2s 2s infinite;
}

.contentbox {
  margin: 0px;
  padding: 0px;
  border: dashed;
  border-color: rgba(255, 255, 255, 0.253);
  box-shadow: 10px 10px 10px 0 rgba(17, 17, 17, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  float: left;
  clear: none;
  width: 100%;
  transition: 500ms;
}

.contentbox:hover {
  margin: 0px;
  padding: 0px;
  border: dashed;
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 10px 10px 10px 0 rgba(17, 17, 17, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  float: left;
  clear: none;
  width: 100%;
}

body,
td,
th {
  color: rgb(223, 191, 191);
  font-size: 16px;
  font-family: "Quicksand";
}

.collapsible {
  position: relative;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.836);
  background-color: rgba(53, 177, 15, 0.05);
  border-radius: 10px;
  color: rgb(223, 191, 191);
  font-size: 16px;
  font-family: "Quicksand";
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition-duration: 0.4s;
}

.active,
.collapsible:hover {
  color: rgb(223, 191, 191);
  font-size: 16px;
  font-family: "Quicksand";
  background-color: rgba(53, 177, 15, 0.1);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  color: rgb(223, 191, 191);
  font-size: 16px;
  font-family: "Quicksand";
  transition: max-height 0.2s ease-out;
}

.textcol {
  position: absolute;
  top: 7px;
  left: 50px;
}

.button {
  background-color: rgba(53, 177, 15, 0.05);
  height: 30px;
  width: 300px;
  border: dashed;
  border-color: rgba(255, 255, 255, 0.253);
  display: inline-block;
  border-radius: 50px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.836);
  cursor: pointer;
  color: rgb(223, 191, 191);
  font-size: 16px;
  font-family: "Quicksand";
  transition: 1000ms;
}

.button:hover {
  background-color: rgba(60, 255, 0, 0.1);
  height: 30px;
  width: 100%;
  border: dashed;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 15px 0 rgba(255, 255, 255, 1);
  display: inline-block;
  cursor: pointer;
  color: rgb(223, 191, 191);
  font-size: 16px;
  font-family: "Quicksand";
}

textarea {
  background-color: rgba(53, 177, 15, 0.05);
  border: dashed;
  border-color: rgba(255, 255, 255, 0.253);
  color: rgb(223, 191, 191);
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-shadow: 2px 2px rgb(13, 27, 9);
  text-align: left;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.836);
  font-size: 16px;
  transition: 500ms
}

textarea:hover {
  background-color: rgba(53, 177, 15, 0.05);
  border: dashed;
  border-color: rgba(255, 255, 255, 0.253);
  color: rgb(223, 191, 191);
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-shadow: 2px 2px rgb(13, 27, 9);
  text-align: left;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.836);
  font-size: 16px;
  transition: 500ms
}

textarea:focus {
  background-color: rgba(53, 177, 15, 0.1);
  border: dashed;
  border-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 500px;
  overflow: auto;
  color: rgb(223, 191, 191);
  text-shadow: 2px 2px rgb(13, 27, 9);
  text-align: left;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.836);
  font-size: 16px;
}

input,
select {
  width: 300px;
  height: 30px;
  color: rgb(223, 191, 191);
  padding: 0px 5px;
  border: dashed;
  border-color: rgba(255, 255, 255, 0.253);
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.836);
  background-color: rgba(53, 177, 15, 0.1);
  border-radius: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 500ms;
}

input:hover, input:focus , select:hover, select:focus {
  height: 30px;
  width: 100%;
  color: rgb(223, 191, 191);
  padding: 0px 5px;
  border: dashed;
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.836);
  background-color: rgba(53, 177, 15, 0.1);
  border-radius: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1 {
  font-family: "zelda";
  text-shadow: 5px 5px rgb(13, 27, 9);
  font-size: 20px;
  transition: 500ms;
}

h1:hover {
  text-shadow: 5px 5px rgb(46, 85, 34);
  font-size: 30px;
}

h2 {
  font-family: "zelda";
  text-shadow: 5px 5px rgb(13, 27, 9);
  color: #060;
  font-size: 15px;
  transition: 500ms;
}

h2:hover {
  color: rgb(223, 191, 191);
  text-shadow: 5px 5px rgb(46, 85, 34);
}

.infoBox {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 99.9%;
  height: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.836);
  background-color: rgba(53, 177, 15, 0.1);
  border-radius: 50px;
  color: rgb(223, 191, 191);
  font-size: 16px;
  font-family: "Quicksand";
  text-align: center;
}

