<%- include ("templates/spectrumhead.ejs") %>

<!--Table -->
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 50%;"><img src="./static/images/spectrum/spectrum.png" style="border-radius: 25px; box-shadow: 5px 5px 5px black;" width="100%" height="100%"></td>
      <td style="width: 50%; text-align: center;">
        <div class="glitch" style="font-size: 30px;">
          Select Colour
        </div>
        <br /><br /><br />

        <!--color picker-->
        <input id="configname" data-jscolor="{value:'#FF00FF'}" />
        <br /><br />

        <!--button-->
        <button
          class="buttonlink"
          style="background-color: rgba(255, 0, 242, 0.05); box-shadow: 5px 5px 5px black;"
          onclick="test(document.getElementById('configname').value)"
          type="button"
        >
          Download
        </button>
        <br />
        <small>After clicking wait a few seconds, the theme will be generated.</small>
      </td>
    </tr>
  </tbody>
</table>

<!--Code -->
<script src="./static/modules/jscolor.js"></script>

<script>
  jscolor.presets.default = {
    format: "hex",
    backgroundColor: "rgba(0,0,0,0.5)",
    borderColor: "rgba(0,0,0,0.5)",
  };
</script>

<script>
  //Load file
  function loadFile(filePath) {
    var result = null;
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", filePath, false);
    xmlhttp.send();
    if (xmlhttp.status == 200) {
      result = xmlhttp.responseText;
    }
    return result;
  }

  //To Zip
  function test(colors4) {
    //return alert(colors4);
    const hexToRgb = (hex) =>
      hex
        .replace(
          /^#?([a-f\d])([a-f\d])([a-f\d])$/i,
          (m, r, g, b) => "#" + r + r + g + g + b + b
        )
        .substring(1)
        .match(/.{2}/g)
        .map((x) => parseInt(x, 16));

    const rgbColour = hexToRgb(colors4);

    const hexColour = colors4.replace("#", "");
    //new zip
    var zip = new JSZip();

    // ./
    zip.file(
      "colours.css",
      loadFile("/static/download/colours.css")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file("index.theme", loadFile("/static/download/index.theme"));

    // ./cinnamon/
    zip.file(
      "cinnamon/cinnamon.css",
      loadFile("/static/download/cinnamon/cinnamon.css")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    // ./cinnamon/assets/checkbox
    zip.file(
      "cinnamon/assets/checkbox/checkbox-checked.svg",
      loadFile("/static/download/cinnamon/assets/checkbox/checkbox-checked.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/checkbox/checkbox-unchecked.svg",
      loadFile(
        "/static/download/cinnamon/assets/checkbox/checkbox-unchecked.svg"
      )
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/checkbox/radiobutton-checked.svg",
      loadFile(
        "/static/download/cinnamon/assets/checkbox/radiobutton-checked.svg"
      )
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/checkbox/radiobutton-unchecked.svg",
      loadFile(
        "/static/download/cinnamon/assets/checkbox/radiobutton-unchecked.svg"
      )
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    // ./cinnamon/assets/menu
    zip.file(
      "cinnamon/assets/menu/menu.svg",
      loadFile("/static/download/cinnamon/assets/menu/menu.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/menu/menu-hover.svg",
      loadFile("/static/download/cinnamon/assets/menu/menu-hover.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/menu/menu-separator.svg",
      loadFile("/static/download/cinnamon/assets/menu/menu-separator.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/menu/submenu.svg",
      loadFile("/static/download/cinnamon/assets/menu/submenu.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    // ./cinnamon/assets/misc
    zip.file(
      "cinnamon/assets/misc/add-workspace.svg",
      loadFile("/static/download/cinnamon/assets/misc/add-workspace.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/add-workspace-active.svg",
      loadFile("/static/download/cinnamon/assets/misc/add-workspace-active.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/add-workspace-hover.svg",
      loadFile("/static/download/cinnamon/assets/misc/add-workspace-hover.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/bg.svg",
      loadFile("/static/download/cinnamon/assets/misc/bg.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/button-box.svg",
      loadFile("/static/download/cinnamon/assets/misc/button-box.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/calendar-arrow-left.svg",
      loadFile("/static/download/cinnamon/assets/misc/calendar-arrow-left.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/calendar-arrow-right.svg",
      loadFile("/static/download/cinnamon/assets/misc/calendar-arrow-right.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/close.svg",
      loadFile("/static/download/cinnamon/assets/misc/close.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/close-active.svg",
      loadFile("/static/download/cinnamon/assets/misc/close-active.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/close-hover.svg",
      loadFile("/static/download/cinnamon/assets/misc/close-hover.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/corner-ripple.svg",
      loadFile("/static/download/cinnamon/assets/misc/corner-ripple.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/desklet.svg",
      loadFile("/static/download/cinnamon/assets/misc/desklet.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/desklet-header.svg",
      loadFile("/static/download/cinnamon/assets/misc/desklet-header.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/message.svg",
      loadFile("/static/download/cinnamon/assets/misc/message.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/osd.svg",
      loadFile("/static/download/cinnamon/assets/misc/osd.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/overview.svg",
      loadFile("/static/download/cinnamon/assets/misc/overview.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/overview-hover.svg",
      loadFile("/static/download/cinnamon/assets/misc/overview-hover.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/misc/trash-icon.svg",
      loadFile("/static/download/cinnamon/assets/misc/trash-icon.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    // ./cinnamon/assets/panel
    zip.file(
      "cinnamon/assets/panel/activities.svg",
      loadFile("/static/download/cinnamon/assets/panel/activities.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/panel/activities-active.svg",
      loadFile("/static/download/cinnamon/assets/panel/activities-active.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    // ./cinnamon/assets/switch
    zip.file(
      "cinnamon/assets/switch/switch-off.svg",
      loadFile("/static/download/cinnamon/assets/switch/switch-off.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "cinnamon/assets/switch/switch-on.svg",
      loadFile("/static/download/cinnamon/assets/switch/switch-on.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    // ./gtk-2.0
    zip.file(
      "gtk-2.0/3rd-party-dark.rc",
      loadFile("/static/download/gtk-2.0/3rd-party-dark.rc")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "gtk-2.0/colors-dark.rc",
      loadFile("/static/download/gtk-2.0/colors-dark.rc")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "gtk-2.0/common-dark.rc",
      loadFile("/static/download/gtk-2.0/common-dark.rc")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "gtk-2.0/gtkrc",
      loadFile("/static/download/gtk-2.0/gtkrc")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    // ./gtk-3.0
    zip.file(
      "gtk-3.0/gtk.css",
      loadFile("/static/download/gtk-3.0/gtk.css")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    // ./gtk-3.22
    zip.file(
      "gtk-3.22/gtk.css",
      loadFile("/static/download/gtk-3.22/gtk.css")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    // ./metacity-1
    zip.file(
      "metacity-1/button_close.svg",
      loadFile("/static/download/metacity-1/button_close.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_close_prelight.svg",
      loadFile("/static/download/metacity-1/button_close_prelight.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_close_pressed.svg",
      loadFile("/static/download/metacity-1/button_close_pressed.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_maximize.svg",
      loadFile("/static/download/metacity-1/button_maximize.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_maximize_prelight.svg",
      loadFile("/static/download/metacity-1/button_maximize_prelight.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_maximize_pressed.svg",
      loadFile("/static/download/metacity-1/button_maximize_pressed.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_menu.svg",
      loadFile("/static/download/metacity-1/button_menu.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_menu_prelight.svg",
      loadFile("/static/download/metacity-1/button_menu_prelight.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_menu_pressed.svg",
      loadFile("/static/download/metacity-1/button_menu_pressed.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_minimize.svg",
      loadFile("/static/download/metacity-1/button_minimize.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_minimize_prelight.svg",
      loadFile("/static/download/metacity-1/button_minimize_prelight.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_minimize_pressed.svg",
      loadFile("/static/download/metacity-1/button_minimize_pressed.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_shade.svg",
      loadFile("/static/download/metacity-1/button_shade.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_shade_prelight.svg",
      loadFile("/static/download/metacity-1/button_shade_prelight.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_shade_pressed.svg",
      loadFile("/static/download/metacity-1/button_shade_pressed.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_unshade.svg",
      loadFile("/static/download/metacity-1/button_unshade.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_unshade_prelight.svg",
      loadFile("/static/download/metacity-1/button_unshade_prelight.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/button_unshade_pressed.svg",
      loadFile("/static/download/metacity-1/button_unshade_pressed.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/max_button_unmaximize.svg",
      loadFile("/static/download/metacity-1/max_button_unmaximize.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/max_button_unmaximize_prelight.svg",
      loadFile("/static/download/metacity-1/max_button_unmaximize_prelight.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/max_button_unmaximize_pressed.svg",
      loadFile("/static/download/metacity-1/max_button_unmaximize_pressed.svg")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );
    zip.file(
      "metacity-1/metacity-theme-3.xml",
      loadFile("/static/download/metacity-1/metacity-theme-3.xml")
        .replace(/255, 0, 255/g, rgbColour)
        .replace(/ff00ff/g, hexColour)
        .replace(/FF00FF/g, hexColour)
    );

    //generate
    zip
      .generateAsync({
        type: "blob",
      })
      .then(function (content) {
        var a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        url = URL.createObjectURL(content);
        a.href = url;
        fileName = `Artemis-Spectrum-#${hexColour}.zip`;
        a.download = fileName;
        a.click();
        window.URL.revokeObjectURL(url);
      });
  }
</script>

<!--JSZip -->
<script type="text/javascript" src="/static/modules/jszip.js"></script>

<%- include ("templates/spectrumbot.ejs") %>
