</div>
<div class="skew-text-content-login">
  <!--Level Roles-->
  <button
  onclick="location.href='/control2'"
    class="skew-box3"
    style="height: 150px"
  >
    <div class="skew-text">Level Roles</div>
  </button>

  <!--Server Settings-->
  <button
  onclick="location.href='/control'"
    class="skew-box3"
    style="height: 150px"
  >
    <div class="skew-text">Server Settings</div>
  </button>

  <!--Leaderboard-->
  <button
  onclick="location.href='/board'"
    class="skew-box3"
    style="height: 150px"
  >
    <div class="skew-text">Leaderboard</div>
  </button>
  
  <!--User Settings-->
  <button
  onclick="location.href='/'"
    class="skew-box3"
    style="height: 150px"
  >
    <div class="skew-text">User Settings</div>
  </button>

  <!--Wiki-->
  <button
  onclick="location.href='/command'"
    class="skew-box3"
    style="height: 150px"
  >
    <div class="skew-text">Commands</div>
  </button>
</div>
</div>
<div style="position: fixed; bottom: 0px; left: 0px; width: 100%; height: 30px; background-color: rgba(0,0,0,0.5);text-align: center;">
  <a href="https://www.paypal.com/paypalme/utopicunicorn">Support me personally in my financial situation.</a>
</div>
</div>

<!--Jquery-->
<script src="/static/modules/jq.js"></script>

<!--Background Effect-->
<script src="/static/modules/bg.js"></script>

<!--Rain Effect-->
<script src="/static/modules/rn.js"></script>

<!--Notification-->
<script>
  function notification(text) {
    var x = document.getElementById("notification");
    var y = document.getElementById("notifText");
    y.innerHTML = text;
    if (x.style.display === "none") {
      x.style.display = "block";
      setTimeout(() => {
      x.style.display = "none";
      }, 5000);
    }
  }
  </script>

<!--Toggle-->
<script>
  function toggle(flick){
    $(`#${flick}`).slideToggle();
  }
</script>
</body>
