<div id="buttons">
  <table width="720" border="0" align="center">
    <tr>
      <th scope="col">
        <div class="example" style="text-align: left;" onclick="location.href ='/auth/discord';">
          <img src="/static/images/unk.jpg" width="90px"
            height="90px" style="border-radius: 50%;" alt="User Image">
          <div class="topthing">
            <div class="text" style="text-align: left;">Welcome!<br>You are not Logged in!<br>Click here to login</div>
          </div>
        </div>
      </th>
      <th scope="col">
        <div class="example" style="text-align: left;">
          <img src="/static/images/artava.png" width="90px" height="90px" style="border-radius: 50%;" alt="Art">
          <div class="topthing">
            <div class="text" style="text-align: left;">
              <%- test.client.user.username %> is <%- test.client.user.presence.status %> <br>
              <%- test.client.users.size %> users <br>
              <%- test.client.guilds.size %> guilds
            </div>
          </div>
        </div>
      </th>
    </tr>
  </table>
  <table width="900" border="0" align="center">
    <tr>
      <th scope="col">
        <div class="example">
          <img src="/static/images/discord.png" width="50%" height="50%" class="box-shadow" alt="discord" />
          <div class="content">
            <div class="text"> <a href="https://discord.gg/EVVtPpw" target="_blank" class="test"><br>Join our
                Discord</a></div>
          </div>
        </div>
      </th>
      <th scope="col">
        <div class="example">
          <img src="/static/images/github.png" width="50%" height="50%" class="box-shadow" alt="github" />
          <div class="content">
            <div class="text"><a href="https://github.com/UtopicUnicorns/mint-bot" target="_blank" class="test"><br>Find
                me on GitHub</a>
            </div>
          </div>
        </div>
      </th>
      <th scope="col">
        <div class="example">
          <img src="/static/images/paypal.png" width="50%" height="50%" class="box-shadow" alt="paypal" />
          <div class="content">
            <div class="text"><a href="https://www.paypal.com/paypalme2/UtopicUnicorn" target="_blank"
                class="test"><br>Toss a coin at
                me</a></div>
          </div>
        </div>
      </th>
      <th scope="col">
        <div class="example">
          <img src="/static/images/patreon.png" width="50%" height="50%" class="box-shadow" alt="paypal" />
          <div class="content">
            <div class="text"><a href="https://www.patreon.com/utopicunicorn" target="_blank"
                class="test"><br>Support me on Patreon</a></div>
          </div>
        </div>
      </th>
      <th scope="col">
        <div class="example">
          <img src="/static/images/artemis.png" width="50%" height="50%" class="box-shadow" alt="artemis" />
          <div class="content">
            <div class="text"> <a
                href="https://discordapp.com/api/oauth2/authorize?client_id=440892659264126997&permissions=8&scope=bot"
                target="_blank" class="test"><br>Add Artemis</a></div>
          </div>
        </div>
      </th>
    </tr>
  </table>
