<!DOCTYPE html>
<html>
  <head>
    <%- include ("templates/head.ejs") %>
  </head>

  <body>
    <%- include ("templates/top.ejs") %>

    <table width="500" border="0" align="center">
      <tr>
        <th scope="col">
          <div id="TabbedPanels1" class="TabbedPanels">
            <div>
                <%- data %>
            </div>
          </div>
        </th>
      </tr>
    </table>

    <%- include ("templates/bottom.ejs") %>
  </body>
</html>
