/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 1px;
    scrollbar-color: #ffffff transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }
/*FONTS*/
@font-face {
	font-family: 'regular';
	src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
		url('../fonts/quicksand-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'italic-light';
	src: url('../fonts/quicksand-lightitalic-webfont.woff2') format('woff2'),
		url('../fonts/quicksand-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'light';
	src: url('../fonts/quicksand-light-webfont.woff2') format('woff2'),
		url('../fonts/quicksand-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'italic';
	src: url('../fonts/quicksand-italic-webfont.woff2') format('woff2'),
		url('../fonts/quicksand-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'dash';
	src: url('../fonts/quicksand_dash-webfont.woff2') format('woff2'),
		url('../fonts/quicksand_dash-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bold-italic';
	src: url('../fonts/quicksand-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/quicksand-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bold';
	src: url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
		url('../fonts/quicksand-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fancy';
	src: url('../fonts/Cinzel-Regular.woff2') format('woff2'),
		url('../fonts/Cinzel-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
body {
  overflow: hidden;
}
/*BUTTONS*/
.menu_button {
	padding: 1vh;
	border: none;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	font-family: 'regular';
}

.menu_button:hover,
.menu_button:active,
.menu_button:focus {
	padding: 1vh;
	border: none;
	background-color: rgba(0, 255, 0, 0.5);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	font-family: 'regular';
}

/*CONTAINERS*/
.logo {
	display: grid;
	place-items: center;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.8);
	background-image: url('../images/logo/logo.svg');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	width: 40vw;
	height: 40vw;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
	animation: entrance 2s;
	opacity: 0.9;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
	filter: saturate(0%);
}

#logoColTop {
  color: rgba(255, 255, 255, 1);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
	font-size: 4rem;
	font-family: 'fancy';
	text-align: center;
	line-height: 0.7;
}

#nameInUserPanel {
  color: rgba(255, 255, 255, 1);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
	font-size: 2rem;
	font-family: 'fancy';
	line-height: 1;
}

#logoColBot {
  color: rgba(255, 255, 255, 1);
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	font-size: 2rem;
	font-family: 'fancy';
	line-height: 0.7;
}

.float_menu {
  position: fixed;
	width: 100vw;
	height: 5vh;
	left: 0px;
	bottom: 0px;
	opacity: 0;
	text-align: center;
	z-index: 10;
}

.menu_box {
  position: absolute;
	width: 100%;
	height: 10vh;
	left: 0px;
	bottom: 20%;
	text-align: center;
	animation: entrance 3s;
}

.bg_box {
	height: 100vh;
	width: 100vw;
	left: 0px;
	bottom: 0px;
	position: fixed;
	background-image: url('../images/backgrounds/prism.svg');
	background-attachment: fixed;
	background-size: cover;
}

.a_box {
	height: 100vh;
	width: 100vw;
	top: 0px;
	left: 0px;
	display: grid;
	place-items: center;
	position: absolute;
	background-image: url('../images/backgrounds/1.png');
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.b_box {
	height: 100vh;
	width: 100vw;
	top: 100vh;
	left: 0px;
	display: grid;
	place-items: center;
	position: absolute;
	background-image: url('../images/backgrounds/2.png');
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.c_box {
	height: 100vh;
	width: 100vw;
	top: 200vh;
	left: 0px;
	display: grid;
	place-items: center;
	position: absolute;
	background-image: url('../images/backgrounds/3.png');
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.d_box {
	height: 100vh;
	width: 100vw;
	top: 300vh;
	left: 0px;
	display: grid;
	place-items: center;
	position: absolute;
	background-image: url('../images/backgrounds/4.png');
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.e_box {
	height: 100vh;
	width: 100vw;
	top: 400vh;
	left: 0px;
	display: grid;
	place-items: center;
	position: absolute;
	background-image: url('../images/backgrounds/5.png');
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.f_box {
	height: 100vh;
	width: 100vw;
	top: 500vh;
	left: 0px;
	display: grid;
	place-items: center;
	position: absolute;
	background-image: url('../images/backgrounds/1.png');
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.g_box {
	height: 100vh;
	width: 100vw;
	top: 600vh;
	left: 0px;
	display: grid;
	place-items: center;
	position: absolute;
	background-image: url('../images/backgrounds/2.png');
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.h_box {
	height: 100vh;
	width: 100vw;
	top: 700vh;
	left: 0px;
	display: grid;
	place-items: center;
	position: absolute;
	background-image: url('../images/backgrounds/3.png');
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.i_box {
	overflow: hidden;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100vw;
	height: 100vh;
}

/*PULSE EFFECT*/
.pulse:hover,
.pulse:focus {
	-webkit-animation: pulse 1s;
	animation: pulse 1s;
	box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
	}
}

/*logo*/
@keyframes entrance {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

/*WAVE*/
@keyframes move_wave {
	0% {
		transform: translateX(0) translateZ(0) scaleY(1)
	}

	50% {
		transform: translateX(-25%) translateZ(0) scaleY(0.55)
	}

	100% {
		transform: translateX(-50%) translateZ(0) scaleY(1)
	}
}

.bgTop {
	opacity: 1;
}

.bgMiddle {
	opacity: 0.7;
}

.bgBottom {
	opacity: 0.5;
}

.wave {
	position: absolute;
	left: 0;
	width: 200vw;
	height: 100vh;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	transform-origin: center bottom;
}

.waveTop {
	background-size: 50%;
	background-repeat: repeat no-repeat;
}

.waveAnimation .waveTop {
	animation: move-wave 3s;
	-webkit-animation: move-wave 3s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.waveMiddle {
	background-size: 50%;
	background-repeat: repeat no-repeat;
}

.waveAnimation .waveMiddle {
	animation: move_wave 10s linear infinite;
}

.waveBottom {
	background-size: 50%;
}

.waveAnimation .waveBottom {
	animation: move_wave 15s linear infinite;
}

/*GLOBALS*/
* {
	color: black;
	scroll-behavior: smooth;
	font-size: 1rem;
	font-family: 'regular';
	-webkit-font-smoothing: antialiased;
	transition: 500ms;
}

/* DOCS */
.docBack {
	position: absolute;
	width: 100vw; 
	height: 100vh; 
	display: flex;
	overflow: hidden;
	background-color: rgba(255,255,255,0.5);
	/*border-radius: 0px 50px 0px 50px;*/
	box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}

.docLeftMenu {
		position: relative;
    width: 25vw;
    height: 100vh;
    border-right: 1px solid green;
    overflow: auto;
}

.docRightBox {
		position: relative;
    width: 75vw;
    height: 100vh;
    overflow: auto;
}

summary {
  font-size: 1rem;
}

details > summary {
    list-style-type: '';
    cursor: pointer;
    box-shadow: 0px 3px black;
    background-color: rgba(0, 255, 0, 0.1);
    padding-left: 1vw;
}

details[open] > summary {
    list-style-type: '';
    background-color: rgba(0, 255, 0, 0.3);
}

details {
    background-color: rgba(0, 255, 0, 0.1);
}

details[open] > summary {
    margin-bottom: 0vw;
    padding: 0.2rem;
}

@keyframes open {
  0% {opacity: 0; margin-left: -2vw}
  100% {opacity: 1; margin-left: 0vw}
}

details[open] summary ~ * {
  animation: open .5s ease-in-out;
}

details > p {
    padding-left: 0px;
    margin: 0px;
}

.codeDocs {
	width: 100%;
	background-color: rgba(0, 255, 0, 0.1);
	border: none;
	box-shadow: 0px 3px black;
	text-align: left;
	padding-left: 1vw;
	padding: 0.5rem;
	font-size: 1rem;
}

.codeDocs:hover, .codeDocs:focus, .codeDocs:active {
	width: 100%;
	background-color: rgba(0, 255, 0, 0.3);
	border: none;
	box-shadow: 0px 3px black;
	text-align: left;
	padding-left: 5vw;
	font-size: 1rem;
}

#load {
  display: none;
	place-items: center;
	position: absolute;
  bottom: 0px; 
  left: 0px; 
  width: 100%; 
  height: 100%; 
}

.loader {
  color: #ffffff;
  font-size: 15rem;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.guildChannelsButton {
  width: 100%; 
  height: 15%; 
  overflow: hidden; 
  border: none;
  padding-right: 5%;
  background-color: rgba(255, 255, 255, 0.7); 
  background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0  Fonts: SIL OFL 1.1  Code: MIT License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M416 127.1h-58.23l9.789-58.74c2.906-17.44-8.875-33.92-26.3-36.83c-17.53-2.875-33.92 8.891-36.83 26.3L292.9 127.1H197.8l9.789-58.74c2.906-17.44-8.875-33.92-26.3-36.83c-17.53-2.875-33.92 8.891-36.83 26.3L132.9 127.1H64c-17.67 0-32 14.33-32 32C32 177.7 46.33 191.1 64 191.1h58.23l-21.33 128H32c-17.67 0-32 14.33-32 32c0 17.67 14.33 31.1 32 31.1h58.23l-9.789 58.74c-2.906 17.44 8.875 33.92 26.3 36.83C108.5 479.9 110.3 480 112 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27h95.12l-9.789 58.74c-2.906 17.44 8.875 33.92 26.3 36.83C268.5 479.9 270.3 480 272 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27H384c17.67 0 32-14.33 32-31.1c0-17.67-14.33-32-32-32h-58.23l21.33-128H416c17.67 0 32-14.32 32-31.1C448 142.3 433.7 127.1 416 127.1zM260.9 319.1H165.8L187.1 191.1h95.12L260.9 319.1z' fill='white'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 5px 2px black; 
  display: grid; 
  place-items: center right;
  text-align: right;
}

.guildChannelsButton:hover {
  width: 100%; 
  height: 15%; 
  overflow: hidden; 
  border: none;
  background-color: rgba(0, 255, 0, 0.7); 
  box-shadow: 0px 5px 2px black; 
  display: grid; 
  place-items: center right;
  text-align: right;
}

a {
  text-decoration: none;
}

textarea, input {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  resize: none;
  box-shadow: 0px 1px 2px black; 
}

textarea:hover, textarea:focus, input:hover, input:focus {
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  resize: none;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25%;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: rgba(0, 255, 0, 0.7);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: rgba(0, 255, 0, 0.7);
  cursor: pointer;
}

.showSubmit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.submitButtonChannelView {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 24 24' fill='none' stroke='%2300ff00' stroke-width='2' stroke-linecap='square' stroke-linejoin='bevel'%3E%3Cpolyline points='9 11 12 14 22 4'%3E%3C/polyline%3E%3Cpath d='M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11'%3E%3C/path%3E%3C/svg%3E");
}

.submitButtonChannelView:hover, .submitButtonChannelView:focus{
  background-color: rgba(255, 255, 255, 0.5);
}

.chatButton {
  box-shadow: 0px 2px 2px black; 
}

.channelViewNameAndId {
  height: 15%; 
  overflow: hidden; 
  border: none;
  background-color: rgba(255, 255, 255, 0.7); 
  background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0  Fonts: SIL OFL 1.1  Code: MIT License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M416 127.1h-58.23l9.789-58.74c2.906-17.44-8.875-33.92-26.3-36.83c-17.53-2.875-33.92 8.891-36.83 26.3L292.9 127.1H197.8l9.789-58.74c2.906-17.44-8.875-33.92-26.3-36.83c-17.53-2.875-33.92 8.891-36.83 26.3L132.9 127.1H64c-17.67 0-32 14.33-32 32C32 177.7 46.33 191.1 64 191.1h58.23l-21.33 128H32c-17.67 0-32 14.33-32 32c0 17.67 14.33 31.1 32 31.1h58.23l-9.789 58.74c-2.906 17.44 8.875 33.92 26.3 36.83C108.5 479.9 110.3 480 112 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27h95.12l-9.789 58.74c-2.906 17.44 8.875 33.92 26.3 36.83C268.5 479.9 270.3 480 272 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27H384c17.67 0 32-14.33 32-31.1c0-17.67-14.33-32-32-32h-58.23l21.33-128H416c17.67 0 32-14.32 32-31.1C448 142.3 433.7 127.1 416 127.1zM260.9 319.1H165.8L187.1 191.1h95.12L260.9 319.1z' fill='white'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 5px 2px black; 
  display: grid; 
  place-items: center right;
  text-align: right;
}

.channelViewNameAndId:hover {
  height: 15%; 
  overflow: hidden; 
  border: none;
  background-color: rgba(0, 255, 0, 0.7); 
  box-shadow: 0px 5px 2px black; 
  display: grid; 
  place-items: center right;
  text-align: right;
}

.submitChatButtonChannelView {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.submitChatButtonChannelView:hover, .submitChatButtonChannelView:focus{
  background-color: rgba(255, 255, 255, 0.5);
}
